<!DOCTYPE html>
<html>
<head>
	<title>YOLO-Object Detection</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
</head>
<body>

  <div class="navbar">
    
    <a href="index.php" style="border-bottom:3px orange solid;">Home</a>
    <a href="gallery.php">More Jobs</a>
    <a href="about.html">About Us</a>	
</div>





<div class='App'>
    <header class='App-header'>
        <p id="he"><u>
          Object Detection
        </u></p>
        <div className="pre_img">
          <span><img id="imagebox" src=""></span>
        </div>
        <form>
          <input id="imageinput" type="file" name="image" onchange="readUrl(this)">
        </form>
			<button name="send" id = "sendbutton">Send</button>
	</header>
</div>

<div class="footer">
  <br>
    <i class="fa fa-facebook"></i>><span> | </span>
    <i class="fa fa-twitter"></i> <span> | </span>
    <i class="fa fa-instagram"></i> <span> | </span>
    <br>
    © Copyright 2020-21
  </div>

</body>
</html>
